
html 
    head
    body
        include partials/header.pug
        form(method="post" action='/producto')
            div 
               label Nombre de producto
               input(type='text' name="title" placeholder='Nombre del producto')
            div
                label Precio
                input(type='number' name="price" placeholder='Ingrese un precio')
            div
                label URL
                input(type='text' name="url" placeholder='Ingrese una URL')
                br
                button(type='submit' placeholder='Submit') Submit