html
   head
   body
    include partials/header.pug
    h2 Productos
    each producto in productos 
        ul
            li  #{producto.title}
            li  #{producto.price}
            li  #{producto.thumbnail}
            li  #{producto.id} 
    